<% content_for :head do %>
  <%= javascript_include_tag "pages/game_index.js" %>
  <%= javascript_include_tag "shared/game.js" %>
  <%= javascript_include_tag "shared/pusher.js" %>
  <%= javascript_include_tag "shared/drawing.js" %>
<% end %>

<% content_for :content do %>
	<div id="joining">	
		<h2>Hi <%= session[:player_name] %></h2>
		<ul id='players'></ul>
		<% if @is_creator %>
		    <p>Click here when everyone has joined!</p>
		    <p><input id="start" class='btn btn-info' type="button" value="Start!" /></p>
		<% else %>
			<p>Just sharpening the pencil!</p>
		<% end %>
	</div>

	<div id="drawing">

		<div id="guesses">
			<h3>It looks like a...</h3>
			<ul id="player-guesses">
			</ul>
		</div>
		<canvas id="drawArea" width="200" height="100"></canvas>

	</div>
	
	<div id="watching">
		<input placeholder='Your guess...' name="guess" id="guess" type="text" style="width:96%" /><input type="button" id="guess-btn" value="Guess" />
		<canvas id="watchArea" width="200" height="100"></canvas>
		<h3>What is that????</h3>
	</div>
	
	<div id="scores">
		<h2>Scores</h2>
		<ul id='score-list'></ul>
		<p>
			<input data-role="none" type="button" id="new-round-btn" value="Keep going?" />
		</p>
		
	</div>
<% end %>