<% content_for :head do %>
<% end %>

<% content_for :content do %>
  	<div class="well">
		<h1>Watch my pencil!</h1>

		<% if notice %>
		    <p id="notice"><%= notice %></p> 
		<% end %>

		<h2>Create a game</h2>	
		<%= form_tag("create_action", method: "post") do %>
          <%= label_tag(:game_name, "Game name:") %>
          <%= text_field_tag(:game_name) %>
          <%= label_tag(:player_name, "Your name:") %>
          <%= text_field_tag(:player_name) %>
          <p>
	          <%= submit_tag("Join", class: "btn btn-info") %>
	      </p>
        <% end %>	
		<p><%= link_to "Join an existing game?", :controller => "home", :action => "index" %></p>
	</div><!-- /content -->
<% end %>
