<% content_for :head do %>
<% end %>

<% content_for :content do %>
  <div data-role="header">
		<h1>Watch my pencil!</h1>
	</div><!-- /header -->

	<div data-role="content">
		<% if notice %>
		    <p id="notice"><%= notice %></p> 
		<% end %>

		<h2>Join a game</h2>	
		<%= form_tag("/home/join_action", method: "post") do %>
          <%= label_tag(:game_name, "Game name:") %>
          <%= text_field_tag(:game_name) %>
          <%= label_tag(:player_name, "Your name:") %>
          <%= text_field_tag(:player_name) %>
          <p>
	          <%= submit_tag("Join", class: "btn btn-info") %>
	      </p>
        <% end %>	
		<p><%= link_to "Create a new game?", { :controller => "home", :action => "create" } %></p>
	</div><!-- /content -->
<% end %>
